
@font-face {
    font-family: 'Roboto-bold';
    src:    url('roboto-bold-webfont.woff') format('woff'),
            url('roboto-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-regular';
    src:    url('roboto-regular-webfont.woff') format('woff'),
            url('roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
